body {
  background-image: url('img/back.jpg');
}

.flex-container {
  display: flex;
  max-width: 1400px;
  margin: 40px auto 0 auto;
  justify-content: space-between;
}

.territory {
  box-sizing: border-box;
  flex-basis: 30%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-repeat: no-repeat;
  /*background-color: whitesmoke;*/
  background-size: contain;
}

button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

label {
  font-weight: bold;
  font-size: 20px;
  margin: auto;
}

@media screen and (max-width: 680px) {
  label {
    font-size: 14px;
  }
  span {
    /*color: red;*/
  }
}

span {
  padding: 5px;
  flex: 1;
  margin: auto;
}

span.contador {
  font-size: 80px;
}

ul {
  background-color: whitesmoke;
  color: #555555;
  margin: auto;
  margin-left: 5px;
  margin-top: 5px;
  flex: 1;
}

.clear {
  display: flex;
}

.clearBtn {
  flex: 1;
  height: 60px;
  margin-bottom: auto;
}

#conquistas {
  display: flex;
  flex-wrap: wrap;
}

div.nome {
  display: flex;
}

div.utania {
  background-image: url('img/Utania.png');
  /*background-color: #c58832;*/
}

div.fharum {
  background-image: url('img/Fharum.png');
  /*background-color: #bca95f;*/
}

div.jaura {
  background-image: url('img/Jaura.png');
  /*background-color: #e3b55a;*/
}

div.thariem {
  background-image: url('img/Thariem.png');
  /*background-color: #818420;*/
}

div.plomo {
  background-image: url('img/Plomo.png');
  /*background-color: #cb8042;*/
}

div.niar {
  background-image: url('img/Niar.png');
  /*background-color: #6f8b7e;*/
}

div.galetros {
  background-image: url('img/Galetros.png');
  /*background-color: #809d91;*/
}

div.sudor {
  background-image: url('img/Sudor.png');
  /*background-color: #ae532c;*/
}

div.arigoth {
  background-image: url('img/Arigoth.png');
  /*background-color: #636e5e;*/
}
